.form_i4c input, .form_i4c textarea {
    width: 100%;
}
.form_i4c textarea {
    height: 160px;
}
.form_i4c legend {
    font-weight: bold;
}
.form_i4c textarea {
    margin: 10px 0;
    min-height: 200px;
    width: 100%;
}
.info_import {
    padding: 10px;
}
#step_info{
    background: none repeat scroll 0 0 #F5F5F5;
    width: 100%;
}
#actions > a {
    background: none repeat scroll 0 0 #9ACD32;
    border-radius: 6%;
    color: #FFFFFF;
    margin: 6px 6px 6px 0;
    padding: 4px;
}
#message { color: green; }
